<?php

$config = [

    // DATABASE
    'name' => '',
    'username' => 'root',
    'password' => '',
    'connection' => '127.0.0.1',

    // APP CONFIG
    'base_url' => 'sprnva',
    'app_name' => 'SPRNVA',

    // for more flexible database migration please indicate 
    // the path of mysql in your machine including the trailing slashes.
    'mysql_path' => '',

    // choices: development, production
    'environment' => 'development',

    // EMAIL
    'smtp_host' => '',
    'smtp_username' => '',
    'smtp_password' => '',
    'smtp_auth' => true,
    'smtp_auto_tls' => true,
    'smtp_port' => 25

];
